.row{
    @media screen and (max-width: 36em){
        gap: 3rem !important;
      
    }
        
    }
.cards{
    @media screen and (max-width: 36em){
        width: 50vw;
       margin:  10vh auto !important;
      
    }
        
    
}