.hero{
    height:65vh;
    width: 100%;
    &-right{
// background-image:url("/../img/showcase.svg");
//     background-size:cover;
//    background-repeat: no-repeat;
img{
    height: 100%;
    width: 100%;
}
&-2{
//     background-image:url("/../img/fundamentals.svg");
//     background-size :cover;
//    background-repeat: no-repeat;
img{
    height: 100%;
    width: 100%;
}

}
    }
}
