.navbar{

    &-brand{
      
font-weight: 700;
font-size: 2rem !important;


    }
    &-toggler{
        &-icon{
height: 24px;
width: 24px;
color: white;
        }
    }

    &-collapse{
flex-grow: 0;
    }
}
.nav{

    &-item{
        :hover{
           
            color: #e9ecef !important;
        }
    }
}
